name: deploy-container

on:
  push:
    branches:
      - master
    paths:
      - 'packages/container/**'
defaults:
  run:
    working-directory: packages/container

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - run: yarn build
      - run: |
          git config --global user.email "sv@savolkov.tech" ||
          git config --global user.name "Semyon Volkov"
      - run: |
          mkdir -p output/container && mv -f packages/container/dist/** output/container ||
          git add output/ ||
          git commit -m "Updated Container MF" || 
          git push origin master:gh-pages ||